.banner-container{
    background-image: url('../../../images/banner3.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner{
    width: 50%;
}
.banner h5{
    font-weight: 200;

}
.banner img{
    width: 100%;
}

.items-container{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 20px;
}

@media only screen and (max-width: 576px) {
    .banner{
        width: 80%;
    }
    .items-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
  }