.addItem-container h2{
    text-decoration: underline;
}
.form-container{
    width: 100%;
    margin: 20px auto;
    background-color: #212429;
    padding: 50px;
}

.add-item-btn{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.add-item-btn input{
    background-color: white;
    color: #212429;
    border: none;
    padding: 5px 20px;
    width: 50%;
}
.add-item-btn input:hover{
    border-radius: 10px;
}

.addItem-form-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info-container{
    padding: 10px;
    display: flex;
    align-items: center;
}

.info-container h5{
    text-align: start;
    font-weight: 300;
}
.info-container strong{
    text-align: start;
    font-weight: 500;
}

@media only screen and (max-width: 576px) {
    .form-container{
        width: 95%;
        margin: 20px auto;
        padding: 20px;
    }
    .addItem-form-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.info-container h5{
    text-align: justify;
}
  }