.pageNotFound-container{
    height: 500px;
    background-image: url('../../../images/banner3.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageNotFound-info{
    color: white;
    width: 50%;
    text-align: center;
}
.pageNotFound-info img{
    width: 100%;
}
.pageNotFound-info h5{
    margin-top: 20px;
}
.pageNotFound-info p{
    font-weight: 200;
}
.pageNotFound-info button{
    background-color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 700;
}

@media only screen and (max-width: 576px) {
    .pageNotFound-info{
        width: 90%;
    }
}